body {
    background-color: white;
    margin: 0;
    overflow-x: hidden;
}

/* top{ */
.topnav {
    background-color: #ecffea;
    width: 100%;
    height: 120px;
    position: fixed;
    z-index: 3;
}

.img1 {
  width: auto;
  height: 100px;
  position: absolute;
  left: 45px;
  top: 10px;
  z-index: 1;
}

.button1 {
    background-color: #cef2c9;
    font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    border: none;
    color: #0b361f;
    padding: 12px 18px;
    text-align: center;
    position: absolute;
    top: 37px;
    right: 3%;
    text-decoration: none;
}

.button1:hover {
    background-color: #67656000;
    border: solid;
    border-color: #9dd097;
    color: #9dd097;
}

.menulinks{
    text-decoration: none;
    color: #0b361f;
    font-size: 18px;
    position: absolute;
    top: 50px;
    right: 430px;
    font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
}

@media (max-width: 800px) {
  .menulinks {
    display: none;
  }}

.menulinks1{
  text-decoration: none;
  color: #0b361f;
  font-size: 18px;
  position: absolute;
  top: 50px;
  right: 280px;
  font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
}

@media (max-width: 800px) {
  .menulinks1 {
    display: none;
  }}

.menulinks2{
  text-decoration: none;
  color: #0b361f;
  font-size: 18px;
  position: absolute;
  top: 50px;
  right: 180px;
  font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
}

@media (max-width: 800px) {
  .menulinks2 {
    display: none;
  }}

.menulinks:hover{
  color: #9dd097;
}

.menulinks1:hover{
  color: #9dd097;
}

.menulinks2:hover{
  color: #9dd097;
}
/* } */

.filler{
  position:relative;
  height: 120px;
}

/* pics{ */
.slideshow-container {
    position: relative;
    overflow: hidden;
}

.slideshow-container .images {
    width: 100%;
}

.mySlides {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    padding: 12px;
    color: #9dd097;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    background-color: #0b361f53;
    font-size: 22px;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: #0b361fce;
}
/* } */

/* course{ */
.ourcourses{
    position: relative;
    display: inline-block;
    height: auto;
    background-color: #c9dbc7;
    margin-bottom: 25px;
}

.p2 {
    position: relative;
    top: 50%;
    text-align: center;
    align-self: center;
    justify-self: center;
    color: #0b361f;
    font-size: 25px;
    font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
}

.row {
    display: flex;
    margin-bottom: 15px;
  }

  .col0 {
    flex: 50%;
    content: url("images/C1.jpg");
    height: auto;
    /* width: 50%; */
}
.col01 {
  flex: 50%;
  content: url("images/D1.jpg");
  height: auto;
  /* width: 50%; */
}

.row1 {
  display: flex;
  margin-bottom: 15px;
}
.col1{
  flex: 50%;
  position: absolute;
  top: 80.5px;
  width: 50%;
  opacity: 0;
  transition: .3s ease;
}
.col11{
  flex: 50%;
  position: absolute;
  top: 80.5px;
  left: 50%;
  margin-left: 0px;
  width: 50%;
  opacity: 0;
  transition: .3s ease;
}
.col1:hover{
  opacity: 1;
}
.col11:hover{
  opacity: 1;
}
/* } */

/* mission{ */
.mission{
  position: relative;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 55px;
  margin-top: 35px;
}
.div1{
  flex-grow: 2;
  position: relative;
  max-width: 45%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 35px;
}
.misimg{
  max-width: 400px;
}
.div2{
  position: relative;
  width: 500px;
  margin-left: 50px;
  margin-right: 75px;
  top: 30px;
}
.heading{
  font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
  font-size: 25px;
  color: #0b361f;
}
.division{
  background-color:#5a7759;
  height: 2px;
  border: 1px solid #5a7759;
  width: 100px;
}
.state{
  font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

@media (min-width: 800px) {
  .div3{
    display: none;
  }
}
@media (max-width: 800px) {
  .mission{
    position: relative;
    height: auto;
    display: block;
  }
  .div1{
    display: none;
  }
  .div2{
    position: relative;
    width: 85%;
    top: 0px;
    display: block;
    margin: auto;
  }
  .div3{
    display: block;
    position: relative;
  }
  .miszoom{
    width: 95%;
    display: block;
    margin: auto;
  }
}
/* } */

/* volunteer{ */
.volunteer{
  position: relative;
  margin-bottom: 35px;
  background-image: url("images/volun.png");
  height: auto;
  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.vtxt{
  font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
  position: relative;
  text-align: center;
  margin-bottom: 200px;
  top: 60px;
  font-size: 40px;
}
.highlight{
  background-color: #0b361f75;
  border-radius: 5px;
  color:#9dd097;
  padding: 5px;
}
.va{
  background-color: #cef2c9;
  color:#5a7759;
  padding: 20px 40px;
  font-size: 30px;
  display: block;
  font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
  text-align: center;
  border: none;
  margin: auto;
  position: relative;
  top: -55px;
  border: solid;
  border-color: #cef2c9;
}
.va:hover {
    background-color:#0b361f35;
    border: solid;
    border-color:#cef2c9;
    color: #cef2c9;
    cursor: pointer;
}
/* } */

/* school{ */
  .schools{
    position: relative;
    height: auto;
    margin-bottom: 55px;
    margin-top: 50px;
  }

  .schools .stxt{
    font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    text-align: center;
    font-size: 30px;
    margin-bottom: -10px;
}

  .schools .scroll{
    overflow: auto;
    white-space: nowrap;
    padding: 20px;
}
  .schools .stlaw{
    size: 100%;
    padding: 20px;
    padding-bottom: 40px;
  }
  .schools .dfs{
    width: 750px;
    height: auto;
    padding: 20px;
  }
  .schools .mauro{
    width: 400px;
    height: auto;
    padding: 20px;
  }
  .schools .hytes{
    width: 250px;
    height: auto;
    padding: 20px;
  }
  
/* } */

/* bottom{ */
  .bottom{
    position: relative;
    background-color: #bdd6bfbe;
    height: auto;
    margin-bottom: 0;
    padding-bottom: 50px;
    width: 100%;
    
    display: flex;
    flex-wrap: wrap;
    color: #5a7759;
    font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
  }
  .bp1{
    margin-left: 50px;
    margin-top: 15px;
    flex-basis: 175px;
  }
  .bp2{
    margin-left: 50px;
    margin-top: 15px;
    flex-basis: 175px;
  }
  .bp3{
    margin-top: 15px;
    margin-left: 50px;
    flex-basis: 300px;
  }
  .bp4{
    margin-left: 50px;
    margin-top: 15px;
    flex-basis: 275px;
  }

  .Main{
    font-size: 18px;
  }
  .Und{
    font-size: 16px;
    margin-left: 15px;
    text-decoration: underline;
    color: #5a7759;
  }
  
  .bp2 .Und{
    line-height: 33px;
  }
/* } */
